@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
  .backgroundImg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: brightness(20%);
  }
  body {
    background-size: cover;
      background-image: url(https://images2.alphacoders.com/101/thumb-1920-1012090.jpg);
      background-color: #cccccc;
     }
     ul{
         list-style: none;
         position: absolute;
         left: 5rem;
         top: 6px;
     }
     li{
         float: left;
         padding: 1vw;
         margin: 1vw;
         margin-right: 2vw;
     }
     li a{
         color: #fdbfff;
         text-decoration: none;
         font-size: 26px;
         padding: 2vw;
     }
     .active{
       text-decoration: underline;
     }
  
  
       footer {
         width: 100vw;
         background: black;
         position: absolute;
         bottom: 0;
         padding: 1rem;
       }
       p{
       color:#fdbfff;
       }