@charset "utf-8";

.backgroundImg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    /* opacity: .75; */
    filter: brightness(20%);
  }
   ul{
    list-style: none;
    position: absolute;
    left: 3rem;
    top: 6px;
}
li{
    float: left;
    padding: 1vw;
    margin: 1vw;
    margin-right: 2vw;
}
li a{
    color: #fdbfff;
    text-decoration: none;
    font-size: 26px;
    padding: 2vw;
}
table{
    margin-top: 10rem;
}
td{
    color: white;
}