@charset "utf-8";

body {
    margin: 0;
    padding: 0;
}
header {
    padding-top: 10rem;
}

.backgroundImg {
    width: 99vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: brightness(20%);
  }
   ul{
    list-style: none;
    position: absolute;
    left: 3rem;
    top: 6px;
}
li{
    float: left;
    padding: 1vw;
    margin: 1vw;
    margin-right: 2vw;
}
li a{
    color: #fdbfff;
    text-decoration: none;
    font-size: 26px;
    padding: 2vw;
}
#review{
    font-size: 20px;
    background-color: rgb(135, 77, 153);
    color: white;
    text-decoration: none;
    position: relative;
    left: 70vw;
    bottom: 50vh;
    padding: 4%;
}
p{
    color: white;
}
table{
    background-color: rgb(89, 30, 107); 
    margin-top: 10px;
}
td{
    color: white;
}
footer {
    width: 90vw;
    background: black;
    padding: 2rem;
  }
  p{
  color:#fdbfff;
  }