@charset "utf-8";

@media screen and (max-width: 479.9px){
    *{
        margin: 0;
        padding: 0;
    }
    body {
        background-size: cover;
        background-image: url(https://images2.alphacoders.com/101/thumb-1920-1012090.jpg);
          background-repeat: no-repeat;
          background-color: #cccccc;
    }
    header{        
        position: absolute;
        left: 1rem;
        top: 6px; 
    }
    .backgroundImg{
        width: 105vw;
        height: 105vh;
        position: absolute;
        z-index: -1;
        filter: brightness(20%);
    }
    ul{
        list-style: none;

    }
    li{
        float: left;
        padding: 1vw;
        margin: 1vw;
        margin-right: 1vw;
    }
    li a{
        color: #fdbfff;
        text-decoration: none;
        font-size: 15px;
        padding: 1vw;
    }
    .active{
        text-decoration: underline;
    }
    #review{
        font-size: 15px;
        background-color: rgba(172, 50, 209, 0.473); 
        color: white;
        text-decoration: none;
        position: relative;
        left: 1vw;
        top: 13vh;
        padding: 4%;
    }
    .top{
        position: relative;
        left: 1vw;
        top: 10vh;
        height: auto;
    }
    table{
        position: relative;
        top: 4rem;
        left: 1vw;
        background-color: rgba(95, 95, 95, 0.473); 
        height: 15vh;
    }
    td{
        color: white;
        padding: 2px;
    }
    .overbodig{
        display: none;
    }
    footer{
        position: relative;
        top: 7rem;
        width: auto;
        background: black;
        padding: 1%;
    }
    p{
      color:#fdbfff;
    }
}
@media screen and (min-width: 480px) and (max-width: 767.9px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-size: cover;
        background-image: url(https://images2.alphacoders.com/101/thumb-1920-1012090.jpg);
        background-repeat: no-repeat;
        background-color: #cccccc;
    }
    header{
        position: absolute;
        left: 1rem;
        top: 6px;
    }
    .backgroundImg{
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -1;
        filter: brightness(20%);
    }
       ul{
        list-style: none;
    }
    li{
        float: left;
        padding: 1vw;
        margin: 1vw;
        margin-right: 1vw;
    }
    li a{
        color: #fdbfff;
        text-decoration: none;
        font-size: 15px;
        padding: 1vw;
    }
    .active{
        text-decoration: underline;
    }
    #review{
        position: relative;
        top: 17vh;
        font-size: 15px;
        background-color: rgba(172, 50, 209, 0.473); 
        color: white;
        text-decoration: none;
        padding: 3%;
    }
    .top{
        position: relative;
        left: 1vw;
        top: 12vh;
    }
    table{
        position: relative;
        top: 5rem;
        left: 1vw;
        background-color: rgba(95, 95, 95, 0.473); 
        height: 10vh;
    }
    td{
        color: white;
        padding: 1px;
    }
    .overbodig{
        display: none;
    }
    footer {
        position: relative;
        top: 25vh;
        background: black;
        padding: 1%;
    }
      p{
      color:#fdbfff;
      }
}
@media screen and (min-width: 768px){
*{
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
      background-repeat: no-repeat;
      background-color: #cccccc;
}
header{
    padding-top: 10rem;
}
.backgroundImg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: brightness(20%);
  }
   ul{
    list-style: none;
    position: absolute;
    left: 3rem;
    top: 6px;
}
li{
    float: left;
    padding: 1vw;
    margin: 1vw;
    margin-right: 2vw;
}
li a{
    color: #fdbfff;
    text-decoration: none;
    font-size: 26px;
    padding: 2vw;
}
.active{
    text-decoration: underline;
}
#review{
    font-size: 25px;
    background-color: rgba(172, 50, 209, 0.473); 
    color: white;
    text-decoration: none;
    position: relative;
    left: 75vw;
    bottom: 50vh;
    padding: 4%;
}
table{
    background-color: rgba(95, 95, 95, 0.473); 
    margin-top: 10px;
}
td{
    color: white;
}
.overbodig{
    display: block;
}
footer {
    width: auto;
    background: black;
    padding: 2rem;
  }
  p{
  color:#fdbfff;
  }
}